@model RegistrationViewModel


@{
    ViewData["Title"] = "Track a new course - Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-auto">
            <h3 class="headline">Hello @Model.Learner.Name</h3>
            <p> We will send a notification to @Model.Learner.Email when the buyable price of this course changes </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
            <div class="card mb-3 box-shadow">
                <h3 class="card-header text-primary headline">@Model.Course.Title</h3>
                <img src="@Model.Course.ImageUrl" class="img-fluid mx-auto" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" />
                <div class="card-body">
                    <p class="card-text">@Model.Course.Headline</p>
                </div>
            </div>
            <div class="clearfix">
                <div class="row float-right pr-3">
                    <a class="btn btn-outline-info" asp-controller="Registration" asp-action="LearnerRegistrations">Manage your courses</a>
                </div>
            </div>

        </div>

        <div class="col-lg-6 d-none d-lg-block">
            <img src="~/Assets/Img/done-rafiki.png" class="img-fluid"/>
        </div>


    </div>
</div>
