@model IEnumerable<RegistrationViewModel>

@{
    ViewData["Title"] = "Registration List";
}

<div class="container mx-auto">
    <div class="row ">
        <div class="col ">
            <table class="table table-hover table-striped table-responsive mx-auto">
                <thead>
                    <tr class="text-center">
                        <th>Course Id</th>
                        <th>Course Title</th>
                        <th>Learner Id</th>
                        <th>Learner Name</th>
                        <th>Learner Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RegistrationViewModel reg in Model)
                    {
                        <tr>
                            <td class="col col-auto">@Html.DisplayFor(r => reg.Course.Id)</td>
                            <td class="col col-auto">
                                <a asp-controller="Course" asp-action="Details" asp-route-id="@reg.Course.Id">@Html.DisplayFor(r => reg.Course.Title)</a>
                            </td>
                            <td class="col col-auto">@Html.DisplayFor(r => reg.Learner.Id)</td>
                            <td class="col col-auto">
                                <a asp-controller="Learner" asp-action="Details" asp-route-id="@reg.Learner.Id">@Html.DisplayFor(r => reg.Learner.Name)</a>
                            </td>
                            <td class="col col-auto">@Html.DisplayFor(r => reg.Learner.Email)</td>
                            <td class="col col-auto">
                                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-courseId="@reg.Course.Id" asp-route-learnerId="@reg.Learner.Id" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>

