@model Course

@{
    ViewData["Title"] = "Course Details";
}


<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3 class="text-justify headline">@Html.DisplayFor(model => model.Title)</h3>
            <table class="table text-justify table-responsive">
                <tr>
                    <td colspan="2">
                        <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid" />
                    </td>
                </tr>

                @if ((await authorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                {
                    <tr>
                        <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.Id)</td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.UdemyId)</td>
                        <td>@Html.DisplayFor(model => model.UdemyId)</td>
                    </tr>
                }

                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.Title)</td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.Headline)</td>
                    <td>@Html.DisplayFor(model => model.Headline)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.Url)</td>
                    <td>@Html.DisplayFor(model => model.Url)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.ListPrice)</td>
                    <td>$@Html.DisplayFor(model => model.ListPrice)</td>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.LastUpdatedPrice)</td>
                    <td>$@Html.DisplayFor(model => model.LastUpdatedPrice)</td>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.LastUpdatedPriceDate)</td>
                    <td>@Html.DisplayFor(model => model.LastUpdatedPriceDate)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.CurrentPrice)</td>
                    <td>$@Html.DisplayFor(model => model.CurrentPrice)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.CurrentPriceDate)</td>
                    <td>@Html.DisplayFor(model => model.CurrentPriceDate)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">@Html.DisplayNameFor(model => model.DiscountExpiration)</td>
                    <td>@Html.DisplayFor(model => model.DiscountExpiration)</td>
                </tr>

                @if ((await authorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                {
                    <tr>
                        <td class="font-weight-bold ">Following Learners</td>
                        <td>
                            <table class="table table-borderless table-responsive ">
                                @foreach (var reg in Model.Registrations)
                                {
                                    <tr class="align-baseline">
                                        <td>
                                            <a asp-controller="Learner" asp-action="Details" asp-route-id="@reg.Learner.Id">@Html.DisplayFor(model => reg.Learner.Name)</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger btn-sm ml-5" asp-action="RemoveLearner" asp-route-courseId="@Model.Id" asp-route-learnerId="@reg.Learner.Id" onclick="return confirm('Are you sure you want to remove this learner?')">Remove</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>

                    <tr class="my-3">
                        <td class="text-left">
                            <a class="btn btn-outline-danger px-3 mr-3" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-outline-info px-3 mr-3" asp-action="Index">Back To All Courses</a>
                        </td>
                    </tr>
                }
            </table>

        </div>

    </div>

</div>